@{
    ViewData["Title"] = "Admin";
    Layout = "_LayoutAdmin";
}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Material Design Bootstrap</title>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <style>

        .map-container {
            overflow: hidden;
            padding-bottom: 56.25%;
            position: relative;
            height: 0;
        }

            .map-container iframe {
                left: 0;
                top: 0;
                height: 100%;
                width: 100%;
                position: absolute;
            }
    </style>
</head>


<body class="grey lighten-3">

    <!--Main layout-->
    <main class=" mx-lg-5">
        <div class="container-fluid mt-5">

            <!-- Heading -->
            <div class="card mb-4 wow fadeIn">

                <!--Card content-->
                <div class="card-body d-sm-flex justify-content-between">

                    <h4 class="mb-2 mb-sm-0 pt-1">
                        <a href="https://mdbootstrap.com/docs/jquery/" target="_blank"></a>
                        <span>Dashboard</span>
                    </h4>

                </div>

            </div>
            <!-- Heading -->
            <!--Grid row-->
            <div class="row wow fadeIn">

                <!--Grid column-->
                <div class="col-md-9 mb-4">

                    <!--Card-->
                    <div class="card">

                        <!--Card content-->
                        <div class="card-body">

                            <canvas id="myChart"></canvas>

                        </div>

                    </div>
                    <!--/.Card-->

                </div>
                <!--Grid column-->
                <!--Grid column-->
                <div class="col-md-3 mb-4">

                    <!--Card-->
                    <div class="card mb-4">

                        <!-- Card header -->
                        <div class="card-header text-center">
                            Contribution percentage
                        </div>

                        <!--Card content-->
                        <div class="card-body">

                            <canvas id="pieChart"></canvas>

                        </div>

                    </div>
                    <!--/.Card-->
                    <!--Card-->
                    <div class="card mb-4">

                        <!--Card content-->
                        <div class="card-body">

                            <!-- List group links -->
                            <div class="list-group list-group-flush">
                                <a class="list-group-item list-group-item-action waves-effect">
                                    Total article
                                    <span class="badge badge-primary badge-pill pull-right">@ViewBag.art_total/100%</span>
                                </a>
                                <a class="list-group-item list-group-item-action waves-effect">
                                    In processing
                                    <span class="badge badge-info  badge-pill pull-right">
                                        @ViewBag.art_inprocessing /  @ViewBag.art_percent_inprocessing%
                                        <i class="fas fa-info-circle ml-1"></i>
                                    </span>
                                </a>
                                <a class="list-group-item list-group-item-action waves-effect">
                                    Accept
                                    <span class="badge badge-success  badge-pill pull-right">
                                        @ViewBag.art_acccept / @ViewBag.art_percent_acccept%
                                        <i class="fas fa-check ml-1"></i>
                                    </span>
                                </a>
                                <a class="list-group-item list-group-item-action waves-effect">
                                    Refuse
                                    <span class="badge badge-danger badge-pill pull-right">
                                        @ViewBag.art_refuse / @ViewBag.art_percent_refuse%
                                        <i class="fa fa-times ml-1"></i>
                                    </span>
                                </a>
                            </div>
                            <!-- List group links -->
                        </div>
                    </div>
                    <!--/.Card-->
                </div>
                <!--Grid column-->
            </div>

            <script src="~/lib/jquery/dist/jquery.min.js"></script>
            <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
            <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>

            <!-- MDB core JavaScript -->
            <script type="text/javascript" src="~/js/popper.min.js"></script>
            <script type="text/javascript" src="~/js/mdb.min.js"></script>
            <!-- Initializations -->
            <script type="text/javascript">
                // Animations initialization
                new WOW().init();

            </script>

            <!-- Charts -->

            <script>
                const myArr = [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)',
                    'rgba(255, 0, 0, 0.2)',
                    'rgba(0, 255, 0, 0.2)',
                    'rgba(0, 0, 255, 0.2)',
                    'rgba(255, 255, 0, 0.2)',
                    'rgba(128, 0, 128, 0.2)',
                    'rgba(0, 128, 128, 0.2)'
                ]
                function randomItemFromArray(arr) {
                    if (arr.length === 0) {
                        return null;
                    }
                    var randomIndex = Math.floor(Math.random() * arr.length);
                    return arr[randomIndex];
                }
                function sumArray(mang) {
                    if (Array.isArray(mang)) {
                        let sum = 0;
                        for (let i = 0; i < mang.length; i++) {
                            sum += mang[i];
                        }
                        return sum;
                    }
                }
                function percentage(number, array) {
                    var totalNumber = sumArray(array)
                    var percen_number = (number / totalNumber) * 100
                    return percen_number;
                }
                // Bar

                $(document).ready(function () {
                    $.ajax({
                        type: "GET",
                        dataType: "json",
                        url: "http://localhost:5154/Admin/Data",
                        success: function (response) {

                            const { art_file_total_arr, f_name_total_arr } = response
                            const data = [];
                            const data_piechart = [];
                            const labels = [];
                            const backgroundColor = [];

                            const borderColor = [];
                            const total_art_file = sumArray(art_file_total_arr)


                            for (let i = 0; i < art_file_total_arr.length; i++) {
                                backgroundColor.push(randomItemFromArray(myArr))
                                borderColor.push('rgba(255, 159, 64, 1)')
                                labels.push(f_name_total_arr[i])
                                //push data bar chart
                                data.push(art_file_total_arr[i])
                                //push data pie chart
                                data_piechart.push(percentage(art_file_total_arr[i], art_file_total_arr))
                            }


                            // data bar chart
                            const data_bar = {
                                labels: labels,
                                datasets: [{
                                    label: 'Quantity of article file',
                                    data: data,
                                    backgroundColor: backgroundColor,
                                    borderColor: borderColor,
                                    borderWidth: 1
                                }]
                            }
                            myChart.data = data_bar;
                            myChart.update();


                            // data pie chart
                            const data_pie = {
                                labels: labels,
                                datasets: [{
                                    label: 'Percentage of contribution per faculty:',
                                    data: data_piechart,
                                    backgroundColor: backgroundColor,
                                    hoverBackgroundColor: backgroundColor
                                }]
                            }
                            console.log(data_piechart)
                            myPieChart.data = data_pie;
                            myPieChart.update();

                        },
                        error: function (e) {
                            console.log(e);
                            console.log("nhuccluonbanoi");
                        }
                    })
                })

                //bar chart
                var ctx = document.getElementById("myChart").getContext('2d');
                var myChart = new Chart(ctx, {

                    type: 'bar',
                    data: null,
                    label: null,
                    options: {
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: true
                                }
                            }]
                        }
                    }
                });

                //pie chart
                var ctxP = document.getElementById("pieChart").getContext('2d');
                var myPieChart = new Chart(ctxP, {
                    type: 'pie',
                    data: null,
                    options: {
                        responsive: true,
                        legend: false
                    }
                });
            </script>


</body>

</html>
