@model IEnumerable<EnterpriceWeb.Models.Magazine>

@{
    ViewData["Title"] = "IndexMagazine";
    Layout = ViewBag.layout;
}


<div class="position-relative">

    <div class="position-absolute top-50 start-50 translate-middle"> <h1>Magazine</h1></div>
</div>

<p style="">
    <a asp-action="CreateMagazine" class="btn btn-outline-info btnCreateMagazine">Create New</a>
</p>
<br />
<table class="table  table-success table-striped">
    <thead>
        <tr>
            <th>
                Magazine
            </th>
            <th>
                Final Closure Date
            </th>
            <th>
                Title
            </th>
            <th>
                Academic_year
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.magazine_closure_date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.magazine_final_closure_date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.magazine_title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.magazine_academic_year)
                </td>
                <td>
                    <a asp-controller="Article" asp-action="IndexArticle" asp-route-id="@item.magazine_id" class="btn btn-outline-primary btnContributeMagazine">Contribute</a>
                    <a asp-action="UpdateMagazine" asp-route-id="@item.magazine_id" class="btn btn-outline-success btnUpdateMagazine">Update</a>
                    <!-- Modal -->
                    <button class="btn btn-outline-danger  btnDeleteMagazine DeleteArticleFile" value="@item.magazine_id" data-toggle="modal" data-target="#deleteModal">Delete</button>
                    <form class="form_Delete_ArticleFile">
                        <div class="modal fade " tabindex="-1" id="deleteModal" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header d-block">
                                        <h4 class="modal-title" id="deleteModalLabel">Click on the box below to delete an article</h4>
                                        <h7 class="modal-title text-danger">* This action will delete all file contribution in the article</h7>
                                    </div>
                                    <div class="modal-footer">

                                        <button type="button" class="btn btn-secondary cancelDelete" data-dismiss="modal">Cancel</button>
                                        <button class="btn btn-danger confirmDelete">OK </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

<style>
    .hiddenbutton {
        display: none;
    }
</style>

@section Scripts {

    <script>
        $(document).ready(function () {

            //function hidden
            function addClassHidden(button) {
                button.addClass("hiddenbutton");
            }
            //get element

            var btn_Create = $(".btnCreateMagazine");
            var btn_Update = $(".btnUpdateMagazine");
            var btn_Delete = $(".btnDeleteMagazine");

            var btn_Contribute = $(".btnContributeMagazine");

            //get role
            var role = "@ViewBag.role";

            //check role
            if (role == "admin") {
                addClassHidden(btn_Contribute);
            }
            else if (role == "coordinator") {
                addClassHidden(btn_Create);
                addClassHidden(btn_Update);
                addClassHidden(btn_Delete);
            }
            else if (role == "marketingmanager") {
                addClassHidden(btn_Create);
                addClassHidden(btn_Update);
                addClassHidden(btn_Delete);
            } else if (role == "student") {
                addClassHidden(btn_Create);
                addClassHidden(btn_Update);
                addClassHidden(btn_Delete);
            }

            var idMagazine;
            // Popup Delete magazine
            $(".DeleteArticleFile").click(function () {
                var modalId = $(this).data("target");
                $(modalId).modal("show");
                idMagazine = $(this).val();
            });
            // Cancel
            $(".cancelDelete").click(function () {
                $(".confirmDelete").closest(".modal").modal("hide");
            });
            // Ok
            $(".confirmDelete").click(function (e) {
                $(this).closest(".modal").modal("hide");
                e.preventDefault()
                $.ajax({
                    type: "POST",
                    url: "http://localhost:5154/Magazine/DeleteMagazine",
                    data: "id=" + idMagazine,

                    success: function () {
                        location.reload()
                        console.log("Delete successful");
                    },
                    error: function (e) {
                        console.log(e);
                    }
                })
            });
        });
    </script>
}