@model IEnumerable<EnterpriceWeb.Models.Magazine>

@{
    ViewData["Title"] = "IndexMagazine";
}

<h1>IndexMagazine</h1>

<p>
    <a asp-action="CreateMagazine">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                Magazine Closure Date
            </th>
            <th>
                Final Closure Date
            </th>
            <th>
                Title
            </th>
            <th>
                Academic_year
            </th>
            <th>
                Status
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
          
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.magazine_closure_date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.magazine_final_closure_date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.magazine_title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.magazine_academic_year)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.magazine_status)
                </td>
                <td>
                    <a asp-action="ContributeMagazine" asp-route-id="@item.magazine_id">Contribute</a>|
                    <a asp-action="UpdateMagazine" asp-route-id="@item.magazine_id">Edit</a> |
                    <a asp-action="DetailsMagazine" asp-route-id="@item.magazine_id">Details</a> |
                    <a asp-action="DeleteMagazine" asp-route-id="@item.magazine_id">Delete</a>

                </td>
            </tr>
        }
    </tbody>
</table>
@section Scripts {
        <script>
            $(document).ready(function () {
                $(".deleteButton").click(function () {
                    var modalId = $(this).data("target");
                    $(modalId).modal("show");
                });

                $(".confirmDelete").click(function () { 
                    $(this).closest(".modal").modal("hide");
                });

                $(".cancelDelete").click(function () {
                    var modalId = $(this).closest(".modal").attr("id");
                    $("#" + modalId).modal("hide");
                });
                $(".confirmDelete").click(function () {
                    var facultyId = $(this).data("id");

                    $.ajax({
                        type: "POST",
                        url: "http://localhost:5154/Faculty/DeleteFaculty/" + facultyId,
                        data: { facultyId: facultyId },
                        success: function () {
                            // Xử lý sau khi thành công (nếu cần)
                            console.log("Delete successful");
                        },
                        error: function () {
                            // Xử lý lỗi (nếu cần)
                            console.log("Error deleting");
                        }
                    });
                });
            });
        </script>

}
