@model IEnumerable<EnterpriceWeb.Models.Magazine>

@{
    ViewData["Title"] = "IndexMagazine";
}


<div class="position-relative">
    
    <div class="position-absolute top-50 start-50 translate-middle"> <h1 >IndexMagazine</h1></div>
</div>

<p class="my-5">
    <a asp-action="CreateMagazine" class="btn btn-outline-info">Create New</a>
</p>

<table class="table  table-success table-striped ">
    <thead>
        <tr> 
            <th>
                Magazine
            </th>
            <th>
                Final Closure Date
            </th>
            <th>
                Title
            </th>
            <th>
                Academic_year
            </th>
            <th>
                Status
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.magazine_closure_date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.magazine_final_closure_date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.magazine_title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.magazine_academic_year)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.magazine_status)
                </td>
                <td>
                    <a asp-controller="Article" asp-action="IndexArticle" asp-route-id="@item.magazine_id" class="btn btn-outline-primary">Contribute</a>|
                    <a asp-action="UpdateMagazine" asp-route-id="@item.magazine_id" class="btn btn-outline-success">Edit</a> |
                    <!-- Modal -->
                    <button asp-route-id="@item.magazine_id" class="btn  btn-outline-danger deleteButton" data-toggle="modal" data-target="#deleteModal_@item.magazine_id">Xóa</button>

                    <!-- Modal -->
                    <div class="modal fade" id="deleteModal_@item.magazine_id" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="deleteModalLabel">Confirm deletion</h5>
                                    @*   <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button> *@
                                </div>
                                <div class="modal-body">
                                    Are you sure you want to delete?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary cancelDelete" data-dismiss="modal">Cancel</button>
                                    <button data-id="@item.magazine_id" class="btn confirmDelete">OK</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
@section Scripts {
    <script>
        $(document).ready(function () {
            if (ViewBag.Eror != null) alert("@ViewBag.Eror")

            $(".deleteButton").click(function () {
                var modalId = $(this).data("target");
                $(modalId).modal("show");
            });

            $(".confirmDelete").click(function () {
                $(this).closest(".modal").modal("hide");
            });

            $(".cancelDelete").click(function () {
                var modalId = $(this).closest(".modal").attr("id");
                $("#" + modalId).modal("hide");
            });
            $(".confirmDelete").click(function () {
                var facultyId = $(this).data("id");

                $.ajax({
                    type: "POST",
                    url: "http://localhost:5154/Faculty/DeleteFaculty/" + facultyId,
                    data: { facultyId: facultyId },
                    success: function () {
                        // Xử lý sau khi thành công (nếu cần)
                        console.log("Delete successful");
                    },
                    error: function () {
                        // Xử lý lỗi (nếu cần)
                        console.log("Error deleting");
                    }
                });
            });
        });
    </script>

}
