    @model IEnumerable<EnterpriceWeb.Models.Article>

@{
    ViewData["Title"] = "IndexArticle";
}

<div class="position-relative">
    <div class="position-absolute top-50 start-50 translate-middle"> <h1>Article</h1></div>
</div>
<br />
<div class="d-flex justify-content-between m-2">
    <p>
        <a asp-action="CreateArticle" class="btn btn-outline-info btnCreateArticle fw-bold" asp-route-id="@ViewBag.m_id">Add new Article</a>
    </p>
    <p class="btnDowloadAll btn btn-outline-primary fw-bold">
        Download all
    </p>
</div>
<p style="width:100%" class="d-flex justify-content-end">
    <a class="btnDownLoadwithCheckbox btn btn-outline-primary fw-bold">
        Download with checkbox
    </a>
</p>
<div class="table-responsive">

    <table class="table table-success table-striped">
        <thead>
            <tr>
                <th>
                    Article avatar
                </th>
                <th>
                    Magazine title
                </th>
                <th>
                    Article title
                </th>
                <th>
                    Submit date
                </th>
                <th>
                    Accept date
                </th>
                <th>
                    Views
                </th>
                <th>
                    Status
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody id="container">
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <img style="height:130px" src="http://localhost:5154/image/Article/@Html.DisplayFor(modelItem => item.article_avatar)" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.magazine.magazine_title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.article_title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.article_submit_date)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.article_accept_date)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.article_views)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.article_status)
                    </td>
                    <td>
                        <a type="hidden" asp-controller="Article_File" asp-action="IndexArticle_File" asp-route-article_id="@item.article_id" class="btn btn-outline-primary btnContributeArticle">Contribute</a>
                        <a asp-action="UpdateArticle" asp-route-id="@item.article_id" class="btn btn-outline-success btnUpdateArticle">Update</a>
                        <button name="id" class="btn btn-outline-success btnAcceptArticle" value="@item.article_id">Accept</button>
                        <button name="id" class="btn btn-outline-danger btnRefuseArticle" value="@item.article_id">Refuse</button>
                        <button class="btn btn-outline-danger DeleteArticle btnDeleteArticle" value="@item.article_id" data-toggle="modal" data-target="#deleteModal">Delete</button>
                        <input class="inputCheck" data-id="@item.article_id" data-title="@item.article_title" type="checkbox" />
                        <form enctype="multipart/form-data" id="form_Delete_Article">
                            <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header d-block">
                                            <h4 class="modal-title" id="deleteModalLabel">Click on the box below to delete an article</h4>
                                            <h7 class="modal-title text-danger">* This action will delete all file contribution in the article</h7>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary cancelDelete" data-dismiss="modal">Cancel</button>
                                            <button class="btn btn-danger confirmDelete">OK</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>

                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<style>
    .hiddenbutton {
        display: none;
    }
</style>
@section Scripts {

    <script>
        $(document).ready(function () {
            // Download with checkbox
            $(".btnDownLoadwithCheckbox").click(function (e) {
                var arrArticle = []
                $("#container").children().each(function () {
                    var btnCheck = $(this).find(".inputCheck");
                    var isChecked = btnCheck.prop("checked");
                    var id = btnCheck.data("id");
                    var title = btnCheck.data("title");
                    if (isChecked) {
                        arrArticle = [
                            ...arrArticle,
                            {
                                'id': id,
                                'title': title,
                            }
                        ]
                    } else {
                        console.log("Checkbox is not checked.");
                    }
                });
                var dataPost = JSON.stringify(arrArticle)
                $.ajax({
                    type: "POST",
                            url: "http://localhost:5154/Article/DownLoadwithCheckbox",
                    data: { arrArticle: dataPost },
                    success: function (dataPost) {
                             console.log("Success: Redirecting...");
                                 window.location.href = '/Article/Download?arrArticle=' + dataPost;
                              
                    },
                    error: function () {
                        console.log("Error Accept article ");
                    }
                });
            });

            //Dowload all
            $(".btnDowloadAll").click(function (e) {
                var arrArticle = []
                $("#container").children().each(function () {
                    var btnCheck = $(this).find(".inputCheck");
                    var id = btnCheck.data("id");
                    var title = btnCheck.data("title");
                    arrArticle = [
                        ...arrArticle,
                        {
                            'id': id,
                            'title': title,
                        }
                    ]
                });
                var dataPost = JSON.stringify(arrArticle)
                $.ajax({
                    type: "POST",
                        url: "http://localhost:5154/Article/DownLoadAll",
                    data: { arrArticleAll: dataPost },
                    success: function () {
                          window.location.href = '/Article/Download?arrArticle=' + dataPost;
                        
   
                    },
                    error: function () {
                        console.log("Error Accept article ");
                    }
                });
            });




            // get element

            var btn_Create = $(".btnCreateArticle");
            var btn_Update = $(".btnUpdateArticle");
            var btn_Delete = $(".btnDeleteArticle");

            var btn_Contribute = $(".btnContributeArticle");

            var btn_Accept = $(".btnAcceptArticle");
            var btn_Refuse = $(".btnRefuseArticle");

            var role = "@ViewBag.role";

            function addClassHidden(button) {
                button.addClass("hiddenbutton");
            }

            if (role == "admin") {
                addClassHidden(btn_Create);
                addClassHidden(btn_Update);
                addClassHidden(btn_Delete);
                addClassHidden(btn_Accept);
                addClassHidden(btn_Refuse);
            }
            else if (role == "coordinator") {
                addClassHidden(btn_Create);
                addClassHidden(btn_Update);
                addClassHidden(btn_Delete);
            }
            else if (role == "marketingmanager") {
                addClassHidden(btn_Create);
                addClassHidden(btn_Update);
                addClassHidden(btn_Delete);
                addClassHidden(btn_Accept);
                addClassHidden(btn_Refuse);
            } else if (role == "student") {
                addClassHidden(btn_Accept);
                addClassHidden(btn_Refuse);
            }



            //AcceptArticle
            btn_Accept.click(function (e) {
                var id = $(this).val()
                $.ajax({
                    type: "POST",
                    url: "http://localhost:5154/Article/AcceptArticle",
                    data: { id: id },
                    success: function () {
                        location.reload()
                        console.log("Accept successful");
                    },
                    error: function () {
                        console.log("Error Accept article ");
                    }
                });
            });

            // RefuseArticle
            $(".btnRefuseArticle").click(function (e) {
                var id = $(this).val();
                $.ajax({
                    type: "POST",
                    url: "http://localhost:5154/Article/RefuseArticle",
                    data: { id: id }, // Corrected format for sending data as form data
                    success: function () {
                        location.reload();
                        console.log("Refuse successful");
                    },
                    error: function () {
                        console.log("Error Refuse article ");
                    }
                });
            });


            var id;
            //Delete article
            $(".DeleteArticle").click(function () {
                id = $(this).val()
                var modalId = $(this).data("target");
                $(modalId).modal("show");

                console.log(id)


            });

            $(".confirmDelete").click(function () {
                $(this).closest(".modal").modal("hide");
            });

            $(".cancelDelete").click(function () {
                $(".confirmDelete").closest(".modal").modal("hide");
            });

            $(".confirmDelete").click(function (e) {
                e.preventDefault()
                $.ajax({
                    type: "POST",
                    url: "http://localhost:5154/Article/DeleteArticle" + id,
                    data: "?id=" + id,
                    success: function () {
                        location.reload()
                        console.log("Delete successful");
                    },
                    error: function () {
                        console.log("Error delete article");
                    }
                });
            });
        });





    </script>

}