@model IEnumerable<EnterpriceWeb.Models.Article>

@{
    ViewData["Title"] = "IndexArticle";
}

<div class="position-relative">
    <div class="position-absolute top-50 start-50 translate-middle"> <h1>Article</h1></div>
</div>
<br />
<p>
    <a asp-action="CreateArticle" class="btn btn-outline-info btnCreateArticle" asp-route-id="@ViewBag.m_id">Add new Article</a>
</p>
<table class="table table-success table-striped">
    <thead>
        <tr>
            <th>
                Article avatar
            </th>
            <th>
                Magazine title
            </th>
            <th>
                Article title
            </th>
            <th>
                Submit date
            </th>
            <th>
                Accept date
            </th>
            <th>
                Views
            </th>
            <th>
                Status
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img style="width:130px; height:130px" src="http://localhost:5154/image/Article/@Html.DisplayFor(modelItem => item.article_avatar)" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.magazine.magazine_title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.article_title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.article_submit_date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.article_accept_date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.article_views)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.article_status)
                </td>
                <td>
                    <a type="hidden" asp-controller="Article_File" asp-action="IndexArticle_File" asp-route-article_id="@item.article_id" class="btn btn-outline-primary btnContributeArticle">Contribute</a>
                    <a asp-action="UpdateArticle" asp-route-id="@item.article_id" class="btn btn-outline-success btnUpdateArticle">Update</a>
                    <button name="id" class="btn btn-outline-success btnAcceptArticle" value="@item.article_id">Accept</button>
                    <button name="id" class="btn btn-outline-danger btnRefuseArticle" value="@item.article_id">Refuse</button>
                    <button class="btn btn-outline-danger DeleteArticle btnDeleteArticle" data-toggle="modal" data-target="#deleteModal">Delete</button>
                    <form enctype="multipart/form-data" id="form_Delete_Article">
                        <input type="hidden" value="@item.article_id" name="id" />
                        <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header d-block">
                                        <h4 class="modal-title" id="deleteModalLabel">Click on the box below to delete an article</h4>
                                        <h7 class="modal-title text-danger">* This action will delete all file contribution in the article</h7>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary cancelDelete" data-dismiss="modal">Cancel</button>
                                        <button class="btn btn-danger confirmDelete">OK</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>

                </td>
            </tr>
        }
    </tbody>
</table>

<style>
    .hiddenbutton {
        display: none;
    }
</style>
@section Scripts {

    <script>
        $(document).ready(function () {
            //get element

            var btn_Create = $(".btnCreateArticle");
            var btn_Update = $(".btnUpdateArticle");
            var btn_Delete = $(".btnDeleteArticle");

            var btn_Contribute = $(".btnContributeArticle");

            var btn_Accept = $(".btnAcceptArticle");
            var btn_Refuse = $(".btnRefuseArticle");

            var role = "@ViewBag.role";

            function addClassHidden(button) {
                button.addClass("hiddenbutton");
            }

            if (role == "admin") {
                addClassHidden(btn_Create);
                addClassHidden(btn_Update);
                addClassHidden(btn_Delete);
                addClassHidden(btn_Accept);
                addClassHidden(btn_Refuse);
            }
            else if (role == "coordinator") {
                addClassHidden(btn_Create);
                addClassHidden(btn_Update);
                addClassHidden(btn_Delete);
            }
            else if (role == "marketingmanager") {
                addClassHidden(btn_Create);
                addClassHidden(btn_Update);
                addClassHidden(btn_Delete);
                addClassHidden(btn_Accept);
                addClassHidden(btn_Refuse);
            } else if (role == "student") {
                addClassHidden(btn_Accept);
                addClassHidden(btn_Refuse);
            }


            //AcceptArticle
            btn_Accept.click(function (e) {
                console.log("a")
                var id = $(this).val()
                $.ajax({
                    type: "POST",
                    url: "http://localhost:5154/Article/AcceptArticle",
                    data: { id: id },
                    success: function () {
                        location.reload()
                        console.log("Accept successful");
                    },
                    error: function () {
                        console.log("Error Accept article ");
                    }
                });
            });

            // RefuseArticle
            $(".btnRefuseArticle").click(function (e) {
                console.log("b");
                var id = $(this).val();
                $.ajax({
                    type: "POST",
                    url: "http://localhost:5154/Article/RefuseArticle",
                    data: { id: id }, // Corrected format for sending data as form data
                    success: function () {
                        location.reload();
                        console.log("Refuse successful");
                    },
                    error: function () {
                        console.log("Error Refuse article ");
                    }
                });
            });



            //Delete article file
            $(".DeleteArticle").click(function () {
                var modalId = $(this).data("target");
                $(modalId).modal("show");
            });

            $(".confirmDelete").click(function () {
                $(this).closest(".modal").modal("hide");
            });

            $(".cancelDelete").click(function () {
                $(".confirmDelete").closest(".modal").modal("hide");
            });

            $("#form_Delete_Article").submit(function (e) {
                e.preventDefault()
                var formData = new FormData(this);

                $.ajax({
                    type: "POST",
                    url: "http://localhost:5154/Article/DeleteArticle",
                    data: formData,
                    contentType: false,
                    processData: false,
                    success: function () {
                        location.reload()
                        console.log("Delete successful");
                    },
                    error: function () {
                        console.log("Error delete article");
                    }
                });
            });
        });
    </script>

}