@model dynamic;


@{
    ViewData["Title"] = "IndexArticle_File";
}
<div class="d-flex">

    <div style="flex:2">

        <h1>Article File</h1>
        <button class="btn btn-outline-info CreateArticleFile btnCreateArticleFile fw-bold" data-toggle="modal" data-target="#CreateModal">Create Article</button>

        <!-- Modal -->
        <form enctype="multipart/form-data" id="form_Add_ArticleFile">

            <div class="modal fade" id="CreateModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="deleteModalLabel">Click on the box below to add an article file</h5>
                        </div>
                        <div class="modal-body">
                            <input type="file" class="article_file" name="article_file" />
                        </div>
                        <div class="modal-footer">
                            <input type="hidden" name="idArticle" value="@ViewBag.ArticleId" />
                            <button type="button" class="btn btn-secondary cancelCreate" data-dismiss="modal">Cancel</button>
                            <button class="btn btn-danger confirmCreate btnDeleteArticleFile">OK</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>

        <table class="table  table-success table-striped">
            <thead>
                <tr>
                    <th>
                        Article type
                    </th>
                    <th>
                        Article name
                    </th>

                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (Article_file item in Model.Article_File)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.article_file_type)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.article_file_name)
                        </td>

                        <td>
                            <button class="btn btn-danger DeleteArticleFile btnDeleteArticleFile" value="@item.article_file_id" data-toggle="modal" data-target="#deleteModal">Delete</button>
                            <form enctype="multipart/form-data" id="form_Delete_ArticleFile">
                                <input type="hidden" />
                                <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="deleteModalLabel">Click on the box below to delete an article file</h5>
                                            </div>
                                            <div class="modal-footer">

                                                <button type="button" class="btn btn-secondary cancelDelete" data-dismiss="modal">Cancel</button>
                                                <button class="btn btn-danger confirmDelete">OK</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div style="flex:1;margin-left:5px">

        <h1>Feedback</h1>


        <a class="btn btn-outline-info fw-bold" asp-action="CreateFeedback" asp-route-id="@ViewBag.ArticleId">Create New</a>
     
        <table class="table table-success table-striped">
            <thead>
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        Content
                    </th>
                    <th>
                        date
                    </th>

                </tr>
            </thead>
            <tbody>
                @foreach (Feedback item in Model.Feedback)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.User.us_name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.content)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.date)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


<style>
    .hiddenbutton {
        display: none;
    }
</style>

@section Scripts {

    <script>
        $(document).ready(function () {
            var btn_Create = $(".btnCreateArticleFile");

            var btn_Delete = $(".btnDeleteArticleFile");

            var role = "@ViewBag.role";
            console.log(role)
            function addClassHidden(button) {
                button.addClass("hiddenbutton");
            }

            if (role == "admin" || role == "coordinator" || role == "marketingmanager") {
                addClassHidden(btn_Create);
                addClassHidden(btn_Delete);
            }

            var id;
            //Delete article file
            $(".DeleteArticleFile").click(function () {
                var modalId = $(this).data("target");
                $(modalId).modal("show");
                id = $(this).val();
            });

            $(".confirmDelete").click(function () {
                $(this).closest(".modal").modal("hide");
            });

            $(".cancelDelete").click(function () {
                $(".confirmDelete").closest(".modal").modal("hide");
            });

            $(".confirmDelete").click(function (e) {
                e.preventDefault()
                console.log(id)
                $.ajax({
                    type: "POST",
                    url: "http://localhost:5154/Article_File/DeleteArticle_File",
                    data: "id=" + id,

                    success: function () {
                        location.reload()
                        console.log("Create successful");
                    },
                    error: function () {
                        console.log("Error creating article file");
                    }
                });
            });


            //Add article
            $(".CreateArticleFile").click(function () {
                var modalId = $(this).data("target");
                $(modalId).modal("show");
            });

            $(".confirmCreate").click(function () {
                $(this).closest(".modal").modal("hide");
            });

            $(".cancelCreate").click(function () {
                $(".confirmCreate").closest(".modal").modal("hide");
            });

            $("#form_Add_ArticleFile").submit(function (e) {
                e.preventDefault()
                var formData = new FormData(this);

                $.ajax({
                    type: "POST",
                    url: "http://localhost:5154/Article_File/CreateArticle_File",
                    data: formData,
                    contentType: false,
                    processData: false,
                    success: function () {
                        location.reload()
                        console.log("Create successful");
                    },
                    error: function () {
                        console.log("Error creating article file");
                    }
                });
            });

        });
    </script>
}