@model IEnumerable<EnterpriceWeb.Models.Article_file>

@{
    ViewData["Title"] = "IndexArticle_File";
}

<h1>IndexArticle_File</h1>
<button class="btn btn-danger CreateArticleFile" data-toggle="modal" data-target="#deleteModal_@ViewBag.ArticleId">Create Article</button>

<!-- Modal -->
<form enctype="multipart/form-data">

    <div class="modal fade" id="deleteModal_@ViewBag.ArticleId" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Click on the box below to add an article file</h5>
                    @*   <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button> *@
                </div>
                <div class="modal-body">
                    <input type="file" class="article_file" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary cancelDelete" data-dismiss="modal">Cancel</button>
                    <button data-id="@ViewBag.ArticleId"  class="btn btn-danger confirmDelete">OK</button>
                </div>
            </div>
        </div>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                Article type
            </th>
            <th>
                Article name
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody> 
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.article_file_type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.article_file_name)
                </td>

                <td>
                    <a asp-action="Edit" asp-route-id="@item.article_file_id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.article_file_id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.article_file_id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {

    <script>
        $(document).ready(function () {
            $(".CreateArticleFile").click(function () {
                var modalId = $(this).data("target");
                $(modalId).modal("show");
            });

            $(".confirmDelete").click(function () {
                $(this).closest(".modal").modal("hide");
            });

            $(".cancelDelete").click(function () {
                var modalId = $(this).closest(".modal").attr("id");
                $("#" + modalId).modal("hide");
            });

            $(".confirmDelete").click(function () {
                var id = $(this).data("id");
                var formData = new FormData();
                formData.append('idArticle', id);
                formData.append('article_file', $('.article_file')[0].files[0]);

                $.ajax({
                    type: "POST",
                    url: "http://localhost:5154/Article_File/CreateArticle_File",
                    data: formData,
                    contentType: false,
                    processData: false,
                    success: function () {
                        console.log("Create successful");
                    },
                    error: function () {
                        console.log("Error creating article file");
                    }
                });
            });
        });
    </script>

}